{% block content %}
    <!-- login popup start-->

    <div class="login_popup_body">

        <div class="action_login signin_action active">
            <div class="form_group">
                <label for="username_input_login_form">Email Address</label>
                <i class="ti-user"></i>
                <input type="text" class="form-control" id="username_input" placeholder="Email OR Mobile ">

            </div>
            <div class="form_group">
                <label for="password_input_login_form">Password</label>
                <i class="ti-lock"></i>
                <input type="password" class="form-control" id="password_input" placeholder="Password">

            </div>
            <div class="form_group">
                <input type="submit" id="login-btn" class="form-control" value="LOGIN">
            </div>

        </div>

    </div>


    <!-- login popup end-->

{% endblock %}

