
#header {
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-repeat: repeat-x;
    background-size: auto 180%;
    transition: all 1s ease-in-out;
}

.container_padding {
    padding: 0 50px;
    width: 100%;
    max-width: 100%;
}

#add_movie{
    position: fixed;
    top: 10px;
    right: 11%;
}

#error{
    color: red;
    text-align: center;
}
/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            7. Login Popup
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
#login{
    position: fixed;
    top: 10px;
    right: 6%;
}

#logout{
    position: fixed;
    top: 10px;
    right: 6%;
}
#login_popup {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.71);
}

#login_popup .popup_cont {
  margin-top: 100px;
  opacity: 0;
  transition: all 0.4s ease;
}

#login_popup .popup_cont.show {
  margin-top: 150px;
  opacity: 1;
}

#login_popup .popup_cont .login_popup_head {
  height: 60px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

#login_popup .popup_cont .login_popup_body {
  width: 100%;
  background-color: #fff;
  padding: 15px;
}

#login_popup .popup_cont .login_popup_body .action_login {
  width: 100%;
  padding: 20px;
  display: none;
}

#login_popup .popup_cont .login_popup_head span.btn {
  color: #666;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 0;
  padding: 19px 20px 19px;
  text-transform: capitalize;
  transition: all 0.4s ease;
  float: left;
  box-shadow: none;
}

#login_popup .popup_cont .login_popup_head span.btn:not(.active):hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.49);
}

#login_popup .popup_cont .login_popup_head span.active {
  background-color: #fff;
  color: #000;
  border-bottom: 2px solid #000;
}

#login_popup .popup_cont .login_popup_head span.action_close {
  color: #545454;
  padding: 21px;
  display: block;
  cursor: pointer;
}

#login_popup .popup_cont .login_popup_head span.action_close i {
  font-weight: bold;
}

#login_popup .popup_cont .login_popup_body .action_login label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: rgba(113, 113, 113, 0.56);
  float: left;
  padding-left: 3px;
}

#login_popup .popup_cont .login_popup_body .action_login input[type="text"],
#login_popup .popup_cont .login_popup_body .action_login input[type="email"],
#login_popup .popup_cont .login_popup_body .action_login input[type="number"],
#login_popup .popup_cont .login_popup_body .action_login input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  padding-left: 18px;
  border-radius: 2px;
  margin: 10px 0 20px 0;
  font-size: 12px;
  width: 100%;
}

#login_popup .popup_cont .login_popup_body .action_login .form-group i {
  display: block;
  margin-bottom: -37px;
  margin-top: 22px;
  position: relative;
  right: 15px;
  z-index: 0;
  margin-left: 96%;
  text-align: right;
  color: rgba(68, 68, 68, 0.57);
}

#login_popup .popup_cont .login_popup_body .action_login input[type="submit"] {
  border-radius: 3px;
  margin-top: 18px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(0, 0, 0);
  letter-spacing: 1px;
  height: 45px;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

#login_popup .popup_cont .login_popup_body .action_login input[type="submit"]:hover {
  background-color: #222;
}

#login_popup .popup_cont .login_popup_body .action_login a.forgot_pass {
  font-size: 14px;
  font-weight: 500;
  color: #4a4b4e;
  float: right;
  margin: 0 0 15px 0;
  transition: all 0.4s ease;
}

#login_popup .popup_cont .login_popup_body .action_login a.forgot_pass:hover {
  color: rgba(8, 36, 115, 0.75);
  margin-right: 2px;
}

#login_popup .popup_cont .login_popup_body .action_login.active {
  display: block;
}

.blue_btn {
  border-radius: 3px;
  margin-top: 18px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(0, 0, 0);
  letter-spacing: 1px;
  height: 45px;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}


#overview h1.overv_title {
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 120px;
    margin-left: 49px;
}

.movie-detail{
    margin: auto;
    width: 50%;
    padding: 100px;
}

.form_group {
    margin-bottom: 15px;
}